html
{
	height:100%;
	position:relative;
	@media only screen and (min-width: 601px)
	{
		min-height: 870px;
	}
}


body, #app, #app > div
{
	margin:0;
	font-family: 'Fira Sans', sans-serif;
	
	min-height: 100%;
	height: 1px;
	
	background-color: #fafafa;
}

#app > div, #app > #root
{
	position:absolute;
	width:100%;
}

.page
{
	width: 1000px;
	margin: auto; 
	
	
	@media only screen and (max-width: 1100px)
	{
		width: 680px;
	}

	@media only screen and (max-width: 800px)
	{
		width: 480px;
	}
	
	@media only screen and (max-width: 600px)
	{
		width: 100%;
	}
}





.clickable
{
	cursor:pointer !important;
}






